sudo: required

services:
  - docker

env:
  global:
    - GIT_LFS_VERSION=2.5.2

matrix:
  include:
    - os: linux
      language: c
      env:
        - TARGET_PLATFORM=ubuntu
        - GIT_LFS_CHECKSUM=624396e8994578ac38c3e5987889be56dba453c378c0675d56cffbc5b8972aa5
      addons:
        apt:
          packages:
            - libcurl4-openssl-dev

    - os: osx
      language: c
      env:
        - TARGET_PLATFORM=macOS
        - GIT_LFS_CHECKSUM=eedb80c79f1d3106aa5f1496ddc505e1c1c86c290293d81fb20c5358c615fd74

    - os: linux
      language: c
      env:
        - TARGET_PLATFORM=win32
        - WIN_ARCH=64
        - GIT_FOR_WINDOWS_URL=https://github.com/git-for-windows/git/releases/download/v2.19.0.windows.1/MinGit-2.19.0-64-bit.zip
        - GIT_FOR_WINDOWS_CHECKSUM=424d24b5fc185a9c5488d7872262464f2facab4f1d4693ea8008196f14a3c19b
        - GIT_LFS_CHECKSUM=d5276eb61dea32b3978c2f68c5cf3ad4a45bf70f1a245ddc86b555db7299c7c9

    - os: linux
      language: c
      env:
        - TARGET_PLATFORM=win32
        - WIN_ARCH=32
        - GIT_FOR_WINDOWS_URL=https://github.com/git-for-windows/git/releases/download/v2.19.0.windows.1/MinGit-2.19.0-32-bit.zip
        - GIT_FOR_WINDOWS_CHECKSUM=83cf018bd6f5c24e2b3088539bbeef9067fd632087d094d447a3a0ff676e7bd7
        - GIT_LFS_CHECKSUM=6cf7d4c169a17dd5b326f903708829e7471368b7e1235ab150ce77555f47b213

    - os: linux
      language: go
      env:
        - TARGET_PLATFORM=arm64

compiler:
  - gcc

script:
  - script/build.sh && script/package.sh

branches:
  only:
    - master
    - /^v[0-9]*.[0-9]*.[0.9]*.*$/

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file:
    - ${TRAVIS_BUILD_DIR}/output/dugite-native-v*.tar.gz
    - ${TRAVIS_BUILD_DIR}/output/dugite-native-v*.lzma
    - ${TRAVIS_BUILD_DIR}/output/dugite-native-v*.sha256
  skip_cleanup: true
  draft: true
  tag_name: $TRAVIS_TAG
  on:
    tags: true
